name: "nodeKittenExamples"
target: "bin"
build:
  with: "cmake"
  cmake:
    clion:
      copy:
        from: "assets"
        to: ""
  mac:
    frameworks:
      AudioUnit: true
      CoreAudio: true
      CoreVideo: true
      Carbon: true
      Cocoa: true
      ForceFeedback: true
      IOKit: true
      OpenGL: true
  cxxFlags:
    std: "c++14"
  ldFlags:
    liconv: true
path:
  install:
    mac:
      assets:
        from: "assets"
        to: "bin/Contents/Resources"
deps: [
  name: "nodeKitten"
  link: "../"
,
  name: "sdl"
  fetch:
    archive: "https://www.libsdl.org/release/SDL2-2.0.4.tar.gz"
    move:
      from: "SDL2-2.0.4"
  build:
    with: "cmake"
  path:
    project: "source"
    install:
      headers:
        from: "source/include"
        to: "include/sdl"
]
